/** @format */

.contact {
	grid-row-gap: 16px;
}

.content {
	@include content(0px 0 0px);
}

.section-btns {
	@include grid(60px, auto auto);
	justify-content: left;
}

// кнопки для ссылки

.section-button {
	@include btn(14px, #fff, #fff, $forButton, 17px 40px);
	border-radius: 100px;
	color: inherit;
	font-weight: 800;
	filter: drop-shadow(0px 4px 16px rgba(29, 66, 98, 0.15));
	align-items: center;
}

.section-buttonAccent {
	@include btn(14px, $main_text_color, $accentColor, #fff, 17px 40px);
	border-radius: 100px;
	filter: drop-shadow(0px 4px 16px rgba(29, 66, 98, 0.15));
}

.section-buttonToolbar {
	@include btn(14px, #ffffff00, $color_white, $color_white, 8px 30px);
	border-radius: 100px;
	max-width: 200px;
	overflow: hidden;
}

.section-buttonFooter {
	@include btn(14px, #ffffff00, $forFooter, $forFooter, 8px 30px);
	border-radius: 100px;
	width: fit-content;
}

.section-button:hover {
	cursor: pointer;
	background: $main_text_color;
	color: #fff !important;
	border: 1px solid $color_white;
}
.section-buttonAccent:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0);
	color: $accentColor !important;
}
.section-buttonToolbar:hover {
	cursor: pointer;
	background: $color_white;
	color: $forButton !important;
}

// заголовки

.section_h1 {
	font-size: 48px;
	font-weight: 800;
}
.section_h2 {
	font-size: 36px;
	font-weight: 800;
}
.section_h3 {
	font-size: 26px;
	font-weight: 700;
}
.section_h4 {
	font-size: 18px;
}

.section-subtitle {
	margin-top: 20px;
	max-width: 1040px;
	width: 100%;
}

.section-offer {
	display: grid;
	grid-gap: 16px;
}

.list {
	margin: 24px 0;
	display: grid;
	grid-gap: 20px;
	font-size: 18px;
	.list__li {
		position: relative;
		padding-left: 50px;
		display: grid;
		align-content: center;
		min-height: 30px;
	}
	.list__li_circle {
		position: relative;
		padding-left: 20px;
		display: grid;
		align-content: center;
		display: inline;
	}
	.list__li::before {
		content: '';
		position: absolute;
		width: 30px;
		left: 0;
		height: 30px;
		background: url('https://www.pulscen.ru/system/ckeditor_assets/pictures/298123/content_subtract.png') no-repeat 100% 100% / cover;
		top: 50%;
		transform: translate(0, -50%);
	}
	.list__li_gray::before {
		background: url('https://www.pulscen.ru/system/ckeditor_assets/pictures/292008/content_vector_d120.png') no-repeat 100% 100% / cover;
	}
	.list__li_circle::before {
		// content: '•';
		content: '';
		background: url('https://www.pulscen.ru/system/ckeditor_assets/pictures/301184/content_ellipse_157.png') no-repeat 100% 100% / 8px;
		position: absolute;
		width: 9px;
		left: 0;
		height: 13px;
	}
}
.list_circle {
	grid-gap: 4px;
}

.contact__by {
	@include grid(15px, auto);
}

@media (max-width: 1440px) {
	.section_h1 {
		font-size: 40px;
		font-weight: 800;
	}
}

@media (max-width: 660px) {
	.section-btns {
		grid-template-columns: 1fr;
	}
	.section-buttonToolbar {
		padding: 8px 20px;
		font-size: 11px;
	}
	.section-buttonFooter {
		letter-spacing: 0.06em;
		font-size: 11px;
		padding: 8px 15px;
	}

	.logo {
		width: 100px;
	}
	.section_h1 {
		font-size: 28px;
	}
	.section_h2 {
		font-size: 22px;
	}
	.section_h3 {
		font-size: 16px;
	}
	.section_h4 {
		font-size: 14px;
	}
	.list {
		font-size: 14px;
	}
}
