/** @format */
$corporate_color: #028dd8;
$main_text_color: #2e3b4f;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: linear-gradient(234.71deg, #4483e2 -106.32%, #919aea 123.07%);
$accentColor: #919aea;
$forToolbar: #ffffff;
$forFooter: #ffffff;

:root {
	--section: 80px;
	--block: 40px;
}
