.sale
    .content
        .sale__wrapper
            .sale__banner.barren
                p.banner__header Скидка
                p.banner__number 30%
                p.banner__note.section_h3 на тариф «Старт» 
            .sale__description 
                .list 
                    .list__heading.section_h3 Тариф включает: 
                    .list__li_circle Продающий сайт, грамотно настроенный и работает сразу
                    .list__li_circle Помощь в загрузке и оформлении товаров от персонального контент-менеджера
                    .list__li_circle Размещение до 7000 товаров в каталоге Пульса цен
                    .list__li_circle Адаптация сайта под мобильные устройства, поскольку многие покупают со смартфона
                    .list__li_circle Доступ к базе готовых заявок «Закупки»
                    .list__li_circle Только целевая аудитория, которой интересны ваши товары 
.end 
    .content 
        .end__wrapper 
            p Торопитесь, такая скидка бывает не часто. Успевайте подключить продвижение товаров на 12 месяцев по очень выгодной стоимости.
            +button('{crm_analytics:click_link(Хочу повышение тарифа,#order,network_actions,НК_Оставить_товары_Консультация_curData)}','Хочу повышение тарифа', 'section-button')
