/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: linear-gradient(263.99deg, #de6f75 -32.15%, #b94768 119.64%);
$accentColor: #b94768;

:root {
	--section: 80px;
	--block: 40px;
}
