footer#contact.futer_main
	.futer_wrapper
		.contact
			.tolstova 
				img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/269138/content_mask_group.png")
				b Наш специалист Елена Толстова ответит на ваши вопросы.
			.contact__by
			.contact__main.col_cintact_futer
				p.footer__call Звоните
				.massenger_futer
					svg(width='20' height='21' viewBox='0 0 20 21' class='toolbarColor' xmlns='http://www.w3.org/2000/svg')
						path(d='M7.70759 6.66049L5.84227 8.94976C6.69014 11.8325 10.748 14.1123 11.9156 14.3891C12.4332 13.6909 13.5521 12.1554 14.2454 12.0398C15.1121 11.8954 18.8037 15.2561 18.6234 15.6502C18.0281 16.9521 16.3719 18.8899 12.5441 17.7705C8.71636 16.651 2.12951 10.2368 1.47951 7.34789C0.829512 4.459 3.32118 1.96701 4.47674 2.11145C5.40118 2.22701 8.17393 6.27895 7.70759 6.66049Z')
					a(href="tel:88001009191").numder_futer.phone-js 8 800 100 91 91
				.note_futer - бесплатно на территории 
					span.phoneNote-js РФ
			.col_cintact_futer
				p.footer__call Пишите
				.footer__massagers
					+linkMassagers
				.massenger_futer
			p Или закажите обратный звонок, и специалист Пульса цен свяжется с вами
			+button(cell, "Позвоните мне", "section-buttonFooter" )
		.agreement
			a(href="https://ekb.pulscen.ru/about/terms")
				p.text_futter Пользовательское соглашение
			a(href="https://ekb.pulscen.ru/about/privacy")
				p.text_futter Политика конфиденциальности