footer#contact.futer_main
	.futer_wrapper
		.contact
			.tolstova 
				img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/269138/content_mask_group.png")
				b Наш специалист Елена Толстова ответит на ваши вопросы.
			.contact__by
			.contact__main.col_cintact_futer
				p.footer__call Звоните
				.massenger_futer
					img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/288317/content_ikodnka.png")
					a(href="tel:88001009191").numder_futer.phone-js 8 800 100 91 91
				.note_futer - бесплатно на территории 
					span.phoneNote-js РФ
			.col_cintact_futer
				p.footer__call Пишите
				.footer__massagers
					+linkMassagers
				.massenger_futer
			p Или закажите обратный звонок, и специалист Пульса цен свяжется с вами
			+button(cell, "Позвоните мне", "section-buttonFooter" )
		.agreement
			a(href="https://ekb.pulscen.ru/about/terms")
				p.text_futter Пользовательское соглашение
			a(href="https://ekb.pulscen.ru/about/privacy")
				p.text_futter Политика конфиденциальности