/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.button:hover {
	cursor: pointer;
}

.modal-block {
	width: fit-content;
	padding: 30px 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(255, 255, 255);
	border-radius: 5px;
}

.modal-block-height {
	top: 5%;
	transform: translate(-50%, 0%);
	height: auto;
	overflow: inherit;
}

.modal-close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 10px;
	height: 10px;
}
.modal-close:hover {
	filter: contrast(0.1);
}

.modal-close:hover {
	cursor: pointer;
}

.modal-wrapper-block {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #bfe6ff24;
	display: none;
	backdrop-filter: blur(1px);
	z-index: 4;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
}

.modal-block-show {
	display: block;
	animation: anim 0.5s ease;
}

@keyframes anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}
