/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: linear-gradient(234.71deg, #4483E2 -106.32%, #919AEA 123.07%);
$accentColor: #919AEA;

:root {
	--section: 80px;
	--block: 40px;
}
